.side{width:100px;height:480px;}/* 144*8+10*(8+1)=1242 */
.side img{width:100px;height:480px;}
.side object{width:100px;height:480px;}

.side{margin:0px;}
div.side{margin:24px 0px 0px 0px;}
.side object{maring:0px;}

.side{padding:0px;}
.side object{padding:0px;}

.side{overflow:hidden;}
