h1 span.title-ja{}
h1 span.title-fr{font-size:16px;}
h1 span.subtitle{font-size:16px;font-weight:normal;}

div.contents{width:250px;}
div.contents{min-height:287px;}
div.contents{float:left;}

div.figure{margin:18px 0px 18px 18px;}

div.mirror{width:360px;}
div.mirror{margin:24px 0px;}
div.mirror{border:solid 2px #48c;}
div.mirror{border-radius:10px;}
div.mirror{background-color:#def;}

.mirror object{width:350px;}
.mirror object{height:200px;}
.mirror object{margin:5px;}

