.mirror{width:310px;}
.mirror{margin:10px 30px 10px 10px;}
.mirror{padding:0px;}
.mirror{overflow:scroll;}
.mirror{overflow-x:hidden;}
.mirror{background-color:#def;}

div.blogdate{margin:10px 0px 0px 0px;text-align:right;}
