<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="./css/default.css" media="all">
<title>{{ page.title }} - {{ page.parent }}</title>
</head>
<body>

{% capture html %}
<div class="header">
<a href="./">{{ site.home }}</a>&gt;{{ page.title }}
</div>

{% if page.side_image %}
<div class="side"><img src="./img/{{ page.side_image }}"></div>
{% endif %}

<div class="main">
<h1>{{ page.title }}</h1>

{% if page.epigraph %}
{% assign epiarray = site.data.epigraph[page.epigraph] %}
{% assign epiquote = epiarray.quote | newline_to_br | strip_newlines | split: '<br />' %}
<blockquote class="epigraph">{% for itemi in epiquote %}
  <p>{{ itemi }}</p>{% endfor %}
  <p>──『{{ epiarray.source }}』</p>
</blockquote>
{% endif %}

{{ content }}

{% assign catarray = site.data.reunion.category %}
{% for itemi in catarray %}
<h2>{{ itemi.last }}</h2>
{% assign catname = catarray[0] %}{% for itemii in site.data.reunion[itemi.first] %}
<h3>{{ itemii.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</h3>
{% if itemii.summary %}{{ itemii.summary | markdownify | strip_newlines }}{% endif %}
<ul>{% for itemiii in itemii.detail %}{% assign arrayiii = itemiii | newline_to_br | strip_newlines | split: '<br />' %}{% assign n = arrayiii.size | minus: 1 %}{% if n == 0 %}
  <li>{{ arrayiii[0] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</li>{% else %}
  <li>{{ arrayiii[0] }}
    <ul>{% for i in (1..n) %}
      <li>{{ arrayiii[i] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</li>{% endfor %}
    </ul>
  </li>{% endif %}{% endfor %}
</ul>
{% endfor %}
{% endfor %}

</div>
{% endcapture %}
{% for itemi in site.data.replace %}
{% assign html = html | replace: itemi.before, itemi.after %}
{% endfor%}
{{ html }}

</body>
</html>
