<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-Language" content="ja">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="./css/default.css" media="all">
<title>{{ page.title }} - {{ site.society }}</title>
</head>
<body>

{% capture html %}
<div class="header">
<a href="./">{{ site.home }}</a>&gt;<a href="./excelsior.html">会誌「Excelsior!」</a>&gt;{{ page.title }}
</div>

<div class="sidelist">
<object data="./excelsior-list.html"></object>
</div>

<div class="main">
<h1>{{ page.title }}</h1>

<p><a href="./img/excelsior{{ page.volume }}.jpg"><img src="./img/excelsior{{ page.volume }}s.jpg" class="right"></a></p>

{% if page.epigraph %}
{% assign epiarray = site.data.epigraph[page.epigraph] %}
{% assign epiquote = epiarray.quote | newline_to_br | strip_newlines | split: '<br />' %}
<blockquote class="epigraph">{% for itemi in epiquote %}
  <p>{{ itemi }}</p>{% endfor %}
  <p>──『{{ epiarray.source }}』</p>
</blockquote>
{% endif %}

{{ content }}

<h2>目次</h2>

{% assign vol = page.volume | prepend: 'vol' %}{% assign catarray = site.data.volume[vol]['category'] %}{% for itemi in catarray %}{% if itemi.last %}
<h3><span class="title-ja">{{ itemi.last.first.ja }}</span>{% if itemi.last.last.fr %}<br/>
<span class="title-fr">{{ itemi.last.last.fr }}</span>{% endif %}</h3>{% endif %}
{% for itemii in site.data.volume[vol][itemi.first] %}{% if itemii.author == Nil %}
<p>{{ itemii.title[0].ja }}{% if itemii.page %} {{ itemii.page }}{% endif %}{% if itemii.title[0].fr %}<br/>
{{ itemii.title[0].fr }}{% endif %}</p>
{% elsif itemii.title[0].fr == Nil %}
<p>{{ itemii.title[0].ja }} {{ itemii.author[0].ja }}{% if itemii.page %} {{ itemii.page }}{% endif %}</p>
{% else %}
<p>{{ itemii.title[0].ja }} {{ itemii.author[0].ja }}{% if itemii.page %} {{ itemii.page }}{% endif %}<br/>
{{ itemii.title[0].fr }} / {{ itemii.author[0].fr }}</p>
{% endif %}{% endfor %}{% endfor %}
</div>
{% endcapture %}
{% for itemi in site.data.replace %}
{% assign html = html | replace: itemi.before, itemi.after %}
{% endfor%}
{{ html }}

</body>
</html>
